@charset "UTF-8";
@font-face {
    font-family:'Idroid';
    src: url(fontes/idroid.otf) format('opentype');
}

@media (max-width:700px) {
    .container-son > h1{
        margin: 5px;
    }

    .container-son{
        height: 360vh;
    }
   
    
}
.video-container > video{
    margin: auto;
}

.video-container{
    border-radius: 12px;
    padding-bottom: 20px;
    width: 70%;
    background-color: #213621;
    display: flex;
    margin: auto;
    margin-top: -10px;
}
#prg{
    margin-top: -5px;
}

.container{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.39);
    flex-wrap: wrap;
    margin: auto;
    height: 330vh;
    width: 40%;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    background-color: #ffffff;
    padding: 10px;
}

.irina {
    width: 100%;
}
.robos{
    width: 100%;
}
.container-son > h1{
    font-family: 'Idroid';
    color: #15331c;
}
.img{
    width: 50%;
    display: block;
    margin: auto;
}
.container-son > p{
    color: #213621;
    font-size: 20px;
    text-indent: 25px;
}
.container-son p > a:hover{
    color: #11a135;
    text-decoration: underline;
}

.container-son p > a{
    border-radius: 6px;
    font-size: 17px;
    transition: 0.5s;
    color: #a5e6aa;
    text-decoration: none;
    background-color: #213621;
    padding: 3px 6px;
}
.container-son{
    max-width: 850px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    white-space: wrap;
    margin: 15px;
    width: 100%;
}

body{
    height: 500vh;
    font-family: sans-serif;
    background-color: #77db90;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-header > p{
    font-weight: bold;
    color: rgb(207, 207, 207);
    margin-top: -5px;
}
nav a:hover{
    transition: 0.5s;
    padding: 5px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #025a09d3;
    text-decoration: underline;
}
p{
    text-align: justify;
}
nav > a{
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}

nav{
    padding: 5px;
    border-radius: 10px;
    background-color: #336837e3;
    box-shadow: 0px 7px 7px rgba(0,0,0,0.192);
    gap: 20px;
    display: flex;
    margin: 15px;
}


.title-header > h1{
    font-weight: bold;
    color: #ffffff;
}
.title-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    font-family: sans-serif;
    background: linear-gradient(to bottom, #11a135, #3c8f3ce3);
    padding: 5px;
}

.title2{
    background: linear-gradient(to right, #97f1ad, #b3f5c2);
}

.frame .caixa > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #0e3010;
}

.caixa > p{
    text-indent: 10px;
    font-size: 20px;
    margin: 15px;

}
 .caixa{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    height: 90%;
    width: 85%;
    margin: 24px auto;
    background-color: #9fe4b0;
}

.frame > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-indent: 25px;
    margin: 20px;

}
footer a:hover{
    text-decoration: underline;
}
footer a{
    color: #024111;
    text-decoration: none;
}

footer p:hover{
    transition: 0.5s;
    background-color: #61f786;
}
footer > p {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.158);
    border-radius: 7px;
    padding: 10px 10px;
    background-color: #40d465;
    color: #0e3010;
}

footer{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
    margin-top: -0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #274622;
    width: 100%;
}
.frame{
    background-color: #ffffff; 
    width: 100%;
    height: 180vh;
}

.listas > ul{
    padding: 0;
    font-size: 20px;
    list-style-type: none;
}

.caixa p > a:hover{
    background-color: #52ff7d;
    color: #024111;
    text-decoration: underline;
}

.caixa p > a{
    border: 2px solid rgba(47, 78, 47, 0.822);
    padding: 4px 5px;
    border-radius: 6px;
    font-size: 20px;
    transition: 0.5s;
    color: #a5e6aa;
    background-color: #213621;
    text-decoration: none;
}


.listas > ul > li::before{
    content: "✓";
    margin-right: 8px;
}

.listas{
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;

}












